@import "tailwindcss";

* {
  box-sizing: content-box;
}

/* Standardize button appearance across the app */
button {
  padding: 0.5rem 0.75rem !important;
  margin: 0 !important;
  border-radius: 0.375rem !important; /* 6px */
  line-height: 1 !important;
}

input,
textarea,
select {
  box-sizing: content-box;
}

div {
  line-height: 1.2;
}

.text-sm {
  font-size: 0.75rem !important;
}
