@import "tailwindcss";

* {
  box-sizing: content-box;
}

button {
  padding: 0;
  margin: 0;
}

input, textarea, select {
  box-sizing: content-box;
}

div {
  line-height: 1.2;
}

.text-sm {
  font-size: 0.75rem !important;
}
